Data/
Papers/
draft/
.ipynb_checkpoints/
PyCharm/.idea
PyCharm/__pycache__
PyCharm/model
PyCharm/model_9_94_30
PyCharm/model_9_96_70
PyCharm/model_045_94_01_100
PyCharm/model_45_94__40
PyCharm/performance
PyCharm/performance_9_94_30
PyCharm/performance_9_96_70
PyCharm/performance_45_94__40
PyCharm/performance_45_94_01_100
